@charset "utf-8";
/* CSS Document */

.tab{width: 240px;margin: 50px;}
.tab_menu{clear: both;}
.tab_menu li{float: left;taxt-align:center;cursor: pointer;list-style: none;padding: 1px 6px;margin-right: 4px;background: #f1f1f1;border: 1px solid #898989;border-bottom: none;}
.tab_menu li.hover{background-color: #999999;}
.tab_menu li.selected{color: #fff;background-color: #6D84B4;}
.tab_box{clear: both;border: 1px solid #898989;height: 100px;}
.hide{display: none;}